@model Grade
@{
    ViewData["Title"] = "Home Page";
}

@{
    
    if (@Model.GetThisWeek() != null)
    {
        <p>
            <lable>Идентификатор класса</lable>
        <p>@Model.IdentificationNumber.ToString()</p>
        </p>
        int? length_X = @Model.GetThisWeek().GetLength(0);
        int? length_Y = @Model.GetThisWeek().GetLength(1);
        int? length_Z = @Model.GetThisWeek().GetLength(2);

        <hr />
        using (Html.BeginForm("Index", "MainPage", FormMethod.Post))
        {
            for (int x = 0; x < 6; x++)
            {
                <br />
                <br />
                <table>
                    @for (int y = 0; y < 7; y++)
                    {
                        string subjectvalue;
                        string hwvalue;
                        if (x < length_X && y < length_Y)
                        {
                             subjectvalue = @Model.GetThisWeek()[x, y, 0] ?? "";
                             hwvalue = @Model.GetThisWeek()[x, y, 1] ?? "";
                        }
                        else
                        {
                            subjectvalue = "";
                            hwvalue = "";
                        }
                        <tr>
                            <td>
                                <input type="text" value="@subjectvalue" name="value" placeholder="Предмет" />
                            </td>
                            <td>
                                <input type="text" value="@hwvalue" name="value" style="width: 500px;" placeholder="Д.З" />
                            </td>
                        </tr>
                    }
                </table>
            }
            <input type="submit" value="Сохранить" />
        }
    }
    else
    {
        <h1>не авторизован</h1>
    }

}